body {

    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    background: linear-gradient(135deg, #4caf50, #45a049);
    height: 100vh;
    color: #333;
}

.container {

    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h1 {

    text-align: center;
    color: #4caf50;
    margin-bottom: 30px;
}

.summary {

   
    display: grid;
    grid-template-columns: 1fr fr 1fr;
    gap: 15px;
    margin-bottom: 30px;
}
.card {

   
}